@import 'src/styles/vars';
#app {
  margin: auto;
  height: 100vh;
}
.card-img{
  height: 400px;
}
body{
  background-color: $body-background;
  font-family: 'Heebo', sans-serif;
}
.margin-row{
  padding: 1em 0;
}
