.header{
  margin: 20px 0;
  max-height: 400px;

  &-image{
    width: 50%;
  }
}
h1{
   font-size: 2em;
 }
h2{
  margin-bottom: 1em;
}
h3{
   color: #fff;
 }
 a, a:hover{
   color: #fff;
 }

 .details-row{
   padding: 3em 0
 }
