.how{
  text-align: center;
  color: #fff;
  width: 80%;
  margin: auto;

  &-title{
    color: #fff;
    margin: auto;
  }

  &-elem{
    margin: auto;
    padding: 2em 0;
    font-size: 1.5em;
  }
}
