.home-title{
  color: #fff;
  margin: auto;
  text-align: center;
  padding-bottom: 1em;
  &-description{
    color:white;
    text-align: center;
    font-size: 1.2em;
    padding-top:1em;
    padding-bottom:2em;
  }
}

.home-cardDeck{
  text-align: center;
  width: 60%;
  margin: auto;
  &-coach{
    width: 90%;
  }
  &-picture{
    margin: auto;
    padding:0.8em 0;
  }
  &-rating{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color:white;
    span{
      font-size: 0.7em;
      font-weight: normal;
    }
  }
  &-price{
    font-weight: bold;
    font-size: 1.5em;
  }
  &-name{
    text-transform: uppercase;
    float:left;

  }
  &-price{
    float:right
  }
  &-button{
    margin-top: 1.4em;
    
    
  }
  a:hover{
    text-decoration: none;
  }
}
@media (min-width: 576px){
  .card-deck .card {
    margin-right: auto;
    margin-left: auto;
  }
  
}
