.coachs-list{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  
  &__coach-card{
    border:black solid 2px;
    margin: 3em 4em;
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between
    
  }
}
