.reviews{

  background-color: #06264e8a;

  &-cardDeck{
    width: 70%;
    margin: auto;
    color:black;
    white-space: nowrap; 
    padding: 1em;

  }


  &-title{
    margin: auto;
    color: #fff;
  }

}

.text-muted{
  border-color: white;
}
.text-truncate{
  
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
