.reviews{

  background-color: #06264e8a;

  &-cardDeck{
    width: 60%;
    margin: auto;
    color:black;
    &__card{
      background-color:#345482;
    }
    
    
  }

  &-title{
    margin: auto;
    color: #fff;
  }

}

.text-muted{
  border-color: white;
}

