.reviews{

  background-color: #06264e8a;

  &-cardDeck{
    width: 60%;
    margin: auto;
    color:black;
    &__card{
      background-color:#0A274F;
    }
    
    
  }

  &-title{
    margin: auto;
    color: #fff;
  }

}



