
.row{
  margin-bottom:1.6em;
}

.form-button{
  display: inline-block;
  

}
.become{
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/00/02/47/515617c340a55f2.jpg');
  background-repeat: repeat;
  background-size: contain;
  height: 35%;
  &-title{
    font-size:2.9em;
    text-align: center;
    color:white;
    margin-left:1.5em;
  }
  &-description{
    font-size:1.5em;
    text-align: center;
    color:white;
    padding:1em 0;
  }
}
@media (max-width: 576px){
  .become{
    background-repeat: no-repeat;
    background-size: cover;
  }
}
